/.ClientExample.java._trace
/.SampleCoAPServer.java._trace
/.SampleHttpClient.java._trace
/.SampleCoAP2HTTPProxy.java._trace
/.ServerExample.java._trace
/.SampleCoAPClient.java._trace
/.ObserveClient.java._trace
